h1 {
  text-align: center;
  color: #2E8B57;
}

h2

body {
  text-align: center;
  background-color: skyblue;
}

ul {
  font-weight: bold;
  text-align: center;
  list-style-position: inside;
  color: #8FBC8F;
}

p {
  font-family: serif;
  font-size: 30px;
  text-align: center;
  color: #8FBC8F;

}
/* here is a comment! */
